<section>
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-lg-6">
                    <label for="clientId">Client ID</label>
                    <input type="text" class="form-control" id="clientId" data-bind="value: clientId">
                </div>
                <div class="col-lg-6">
                    <button class="btn-default" data-bind="click: removeClient">Remove Client</button>
                </div>
            </div>
            

        </fieldset>

        
    </form>
</section>